################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CurlingChallenge/.vs/CurlingChallenge
/CurlingChallenge/CurlingChallenge/bin/Debug/net6.0
/CurlingChallenge/CurlingChallenge/obj
/CurlingChallenge/CurlingChallenge.Tests/bin
/CurlingChallenge/CurlingChallenge.Tests/obj
